div{
  text-align: center;
  margin-top: 50px;
}
  
button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #20232a;
  color: white;
  transition: background-color 0.3s ease;
}

.login:hover{
  background-color: #383f54;
}

.home-icon{
  height: 200px;
  width: 150px;
}

.register{
  text-decoration: underline;
  color: #383f54;
  background-color: transparent;
  border-radius: none;
  margin-left: 0;
  padding-left:5px;
  font-size: 12px;
}

.register:hover{
  color:#2e3341;
}

.home-container{
  margin:0 0 0 0;
  padding: 0 0 0 0;
  height:100%;
  width: 300px;
}

.gap-home{
  padding-top:0;
  margin-top: -20px;
  font-size: 12px;
  text-align: center;
}

.home-foot{
  margin-top: 0;
  padding-top: 10px;
  text-align: center;
}

h3, h4{
  font-family:Georgia, 'Times New Roman', Times, serif;
}