.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .upload-icon {
    margin: 0 20px;
    text-align: center;
  }
  
  .upload-icon label {
    cursor: pointer;
  }
  
  .upload-icon p {
    margin-top: 10px;
  }
  
  .upload-input {
    display: none;
  }
  